<div class="contenido">

  <h4>{{ info1.nombre }}</h4>
  <div *ngIf='mostrar' class="info">
    <div class="contenidos">

      <p>{{ info1.descripcion }}</p>
    </div>
  </div>

  <div class="boton">
    <button class="btn" type="button" (click)="mostrar!=mostrar">
      ver/ocultar
    </button>
  </div>
</div> 