*{
  margin: 0;
}

.contenido{
  width: 50%;
  background-color: rgba(42, 110, 165, 0.241);
}

.perfil{
  width: 100px;
  padding: 10px;
}

h4{
  font-size: 15px;
  color: rgb(42, 83, 165);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 15px;
  text-align: center;
}

.info p{
  text-align: center;
  padding: 10px;
}

.btn{
  padding: 10px;
  border: none;
  background-color: aliceblue;
  color: rgb(42, 83, 165);
  margin-left: 80px;
  margin-bottom: 20px;
}

